@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

.btn {
  width: 9vw;
  height: 8vh;
  background-color: var(--lilac);
  border-radius: 0 35px 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
}